<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.karbassi.ToggleDoNotDisturb</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>485FA95B-8E2B-46C9-8C34-CB4B9553181C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>775F1F87-7DD2-48CE-ABAC-D21EE3906C12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>775F1F87-7DD2-48CE-ABAC-D21EE3906C12</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Ali Karbassi</string>
	<key>description</key>
	<string>Alfred 3 workflow to toggle Do Not Disturb mode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Do Not Disturb</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dnd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Do Not Disturb</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>485FA95B-8E2B-46C9-8C34-CB4B9553181C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./src/toggle.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>775F1F87-7DD2-48CE-ABAC-D21EE3906C12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>485FA95B-8E2B-46C9-8C34-CB4B9553181C</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>775F1F87-7DD2-48CE-ABAC-D21EE3906C12</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/karbassi/alfred-toggle-do-not-disturb/</string>
</dict>
</plist>
